.main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-form {
	width: 200px;
	margin: auto;
}

.container-formulario {
	width: 88%;
	height: 80vh;
	display: flex;
	justify-content: space-around;
}

.welcome-back {
	display: flex;
	align-items: center;
	text-align: center;
}

.message {
	padding: 1rem;
}
.message h1 {
	font-size: 2.7rem;
	padding: 1rem 0;
}

.message button {
	padding: 1rem;
	font-weight: 400;
	background-color: #6d5fff;
	border-radius: 2rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 0.9rem;
	margin-top: 2rem;
	transition: all 0.3s ease-in;
	color: white;
}

.message button {
	background-color: #4639d5;
}

.fomulario {
	width: 400px;
	padding: 1rem;
	margin: 2rem;
	background-color: rgb(125, 158, 255, 0.6);
	text-align: center;
}
.create-account {
	padding: 2.7rem 0;
}
